
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="ktp-images" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>